/* Tailwind v4 Configuration */
@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;

  --color-card: #09090b;
  --color-card-foreground: #fafafa;

  --color-popover: #09090b;
  --color-popover-foreground: #fafafa;

  --color-primary: #fafafa;
  --color-primary-foreground: #18181b;

  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;

  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;

  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fafafa;

  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d8;

  --radius-lg: 0.75rem;
  --radius-md: calc(0.75rem - 2px);
  --radius-sm: calc(0.75rem - 4px);

  --font-geist: "Inter", sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground antialiased font-geist;
  }
}

.glass-panel {
  @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
}

.custom-checkbox {
  @apply h-4 w-4 rounded border-border bg-background text-primary focus:ring-primary focus:ring-offset-background;
}